github_auth.txt
/rs/fast_image_encoder/target
/rs/fast_image_encoder/images/out
/Cargo.lock
cs/FastImageEncoder/.idea
# Default ignored files
cs/FastImageEncoder/shelf/
cs/FastImageEncoder/workspace.xml
# Rider ignored files
cs/FastImageEncoder/projectSettingsUpdater.xml
cs/FastImageEncoder/.idea.FastImageEncoder.iml
cs/FastImageEncoder/contentModel.xml
cs/FastImageEncoder/modules.xml
# Editor-based HTTP Client requests
cs/FastImageEncoder/httpRequests/
# Datasource local storage ignored files
cs/FastImageEncoder/dataSources/
cs/FastImageEncoder/dataSources.local.xml
cs/FastImageEncoder/FastImageEncoder/bin/
cs/FastImageEncoder/FastImageEncoder/obj/
cs/FastImageEncoder/FastImageEncoder/fast_image_encoder.dll
cs/FastImageEncoder/FastImageEncoder/libfast_image_encoder.dylib
cs/FastImageEncoder/FastImageEncoder/libfast_image_encoder.so
cs/FastImageEncoder/Benchmark/bin/
cs/FastImageEncoder/Benchmark/obj/
cs/FastImageEncoder/UnityExample/.idea/
cs/FastImageEncoder/UnityExample/Library/
cs/FastImageEncoder/UnityExample/Logs/
cs/FastImageEncoder/UnityExample/obj/
cs/FastImageEncoder/UnityExample/Temp/
cs/FastImageEncoder/UnityExample/UserSettings/
cs/FastImageEncoder/UnityExample/Assets/FastImageEncoder/*
cs/FastImageEncoder/UnityExample/Images/