name: build

on:
  workflow_dispatch:
    inputs:
      version:
        description: Build version
        required: True

jobs:
  publish:
    name: Publish for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            artifact_name: libfast_image_encoder.so
            asset_name: libfast_image_encoder.so
          - os: windows-latest
            artifact_name: fast_image_encoder.dll
            asset_name: fast_image_encoder.dll
          - os: macos-latest
            artifact_name: libfast_image_encoder.dylib
            asset_name: fast_image_encoder.dylib
    steps:
      - uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.71.0
      - name: cargo build
        working-directory: rs/fast_image_encoder
        run: cargo build --release
      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.TOKEN }}
          file: rs/fast_image_encoder/target/release/${{ matrix.artifact_name }}
          asset_name: ${{ matrix.asset_name }}
          tag: ${{ inputs.version }}
          name: ${{ inputs.version }}
          overwrite: true
